<!--商品変更-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>商品変更</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div>
		<!--ブラウザ全体-->
		<div id="wrap">

			<!--ヘッダー部分-->
			<header th:insert="~{/common/header :: frag}"></header>

			<!-- メニュー部分 -->
			<div id="menu">

				<!-- ナビゲーション  -->
				<div id="nav">
					<a class="btn" href="/menu"><span>MENU</span><span>GO</span></a>
				</div>

				<!-- ページタイトル -->
				<div id="page_title">
					<h2>商品情報変更</h2>
				</div>

			</div>

			<!--商品変更のコンテンツ部分-->
			<div id="main" class="container">
				<!--エラーメッセージ-->
				<p class="error-msg" th:if="${message}!=null" th:text="${message}"></p>
				<!--入力フォーム-->
				<form action="/changeItem" method="POST" th:object="${item}">
					<table class="input-table" align="center">
						<tr>
							<th></th>
							<th>
								<<変更前情報>>
							</th>
							<th>
								<<変更後情報>>
							</th>
						</tr>
						<tr>
							<th>画像</th>
							<td colspan="2"><img th:src="@{/image/}+${old_item.itemphoto}" alt="商品画像" class="img-item">
							</td>
						</tr>
						<tr>
							<th>商品名</th>
							<td th:text="${old_item.itemname}"></td>
							<td><input type="text" name="itemname" th:value="*{itemname}" th:errorclass="error-msg">
								<p th:if="${#fields.hasErrors('itemname')}" th:errors="*{itemname}" class="error-msg">
								</p>
							</td>

						</tr>
						<tr>
							<th>価格</th>
							<td th:text="'&yen; ' +${#numbers.formatInteger(old_item.price, 3, 'COMMA')}"></td>
							<td><input type="text" name="price" th:errorclass="error-msg">
								<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-msg"></p>
							</td>

						</tr>
						<tr>
							<th>在庫数</th>
							<td th:text="${old_item.stock} + '枚'"></td>
							<td><input type="text" name="stock" th:errorclass="error-msg">
								<p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="error-msg"></p>
							</td>

						</tr>
					</table>

					<!--変更完了ボタン-->
					<input type="hidden" name="itemid" th:value="${old_item.itemid}">
					<input type="submit" value="変更完了">
				</form>
			</div>
			<!--フッター部分-->
			<footer th:insert="~{ /common/footer :: frag}"></footer>

		</div>
	</div>
</body>

</html>