<!--ユーザー情報更新画面(管理者)-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ユーザー情報変更</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">

		<!-- ヘッダー部分 -->
		<header th:insert="~{common/header :: header}"></header>

		<!-- メニュー部分 -->
		<div id="menu">
			<!-- ナビゲーション  -->
			<div id="nav">
				<a class="btn" href="/menu"><span>MENU</span><span>GO</span></a>
				<a class="btn" href="/listUser"><span>ユーザー一覧</span><span>GO</span></a>
			</div>

			<!-- ページタイトル -->
			<div id="page_title">
				<h2>ユーザー情報変更</h2>
			</div>
		</div>

		<!-- ユーザー変更のコンテンツ部分 -->
		<div id="main" class="container">
			<!-- エラーメッセージ -->
			<p class="error-msg" th:if="${errorMessage} != null" th:text="${errorMessage}"></p>

			<!-- ユーザー変更画面 -->
			<form action="/changeUserinfo" method="POST" th:object="${checkUser}">
				<table align="center">
					<tr>
						<td>&nbsp;</td>
						<td width:300"> &lt; &lt;変更前情報&gt;&gt;</th>
						<td width:300">&lt; &lt;変更後情報&gt;&gt;</th>
					</tr>
					<tr>
						<th style="width:100">名前</th>
						<td th:text="${oldUser.name}"></td>
						<td><input type="text" name="name" th:value="*{name}" }></td>
					</tr>
					<tr>
						<th style="width:100">パスワード</th>
						<td style="width:300" th:text="${oldUser.password}"></td>
						<td>
							<input type="password" name="password" th:value="*{password}">
							<p class="error-msg" th:if="${passwordError} != null" th:text="${passwordError}"></p>
						</td>
					</tr>
					<tr>
						<th style="width:100">パスワード(確認用)</th>
						<td></td>
						<td>
							<input type="password" name="confirmPassword" th:value="*{confirmPassword}"
								th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
								th:errorclass="error-msg"></p>
						</td>
					</tr>
					<tr>
						<th style="width:100">Eメール</th>
						<td style="width:300" th:text="${oldUser.email}"></td>
						<td>
							<input type="text" name="email" th:value="*{email}" th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error-msg"></p>
						</td>
					</tr>
					<tr>
						<th style="width:100">住所</th>
						<td style="width:300" th:text="${oldUser.address}"></td>
						<td>
							<input type="text" name="address" th:value="*{address}" th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="error-msg">
							</p>
						</td>
					</tr>
					<tr>
						<th style="width:100">権限</th>
						<td th:if="${oldUser.authority==1}">管理者</td>
						<td th:if="${oldUser.authority==2}">会員</td>
						<td>
							<select name="authority" th:errorclass="error-msg">
								<option value=""></option>
								<option value="1">管理者</option>
								<option value="2">会員</option>
							</select>
							<p th:if="${#fields.hasErrors('authority')}" th:errors="*{authority}"
								th:errorclass="error-msg"></p>

						</td>
					</tr>
				</table>
				<input type="hidden" name="userid" th:value="${oldUser.userid}">
				<input type="hidden" name="oldPassword" th:value="a">
				<input type="submit" value="更新完了">
			</form>
		</div>

		<!-- フッター部分 -->
		<footer th:insert="~{common/footer :: footer}"></footer>
	</div>
</body>

</html>