<!--商品詳細画面-->
<!DOCTYPE html>
<html>


<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
	<!-- ブラウザ全体 -->
	<div id="nomal">

		<!--ヘッダー部分  -->
		<div th:insert="~{/common/header :: frag}"></div>

		<!-- メニュー部分 -->
		<div id="menu">
			<!-- ナビゲーション  -->
			<div id="nav">
				<a class="btn" href="/menu"><span>MENU</span><span>GO</span></a>
				<a class="btn" href="/listItem"><span>商品一覧</span><span>GO</span></a>
			</div>

			<!-- ページタイトル -->
			<div id="page_title">
				<h2>商品詳細</h2>
			</div>
		</div>

		<!-- 書籍変更コンテンツ部分 -->
		<div id="main" class="container">
			<!--エラーメッセ―ジ-->
			<p class="error-msg" th:if="${message}!=null" th:text="${message}"></p>
			<table style=" width: 50%; ">
				<tr>
					<th>画像</th>
					<td><img th:src="@{/image/}+${item.itemphoto}" alt="商品画像" class="img-item"></td>
				</tr>
				<tr>
					<th>商品名</th>
					<td th:text="${item.itemname}"></td>
				</tr>
				<tr>
					<th>価格</th>
					<td th:text="'&yen; ' +${#numbers.formatInteger(item.price, 3, 'COMMA')}"></td>
				</tr>
				<tr>
					<th>在庫数</th>
					<td th:text="${item.stock} + '枚'"></td>
				</tr>

			</table>
			<table>
				<div th:if="${user.authority==1}">
					<tr>
						<td>
							<form action="/changeItem" method="get" th:object="${item}">
								<input type="hidden" name="itemid" th:value="${item.itemid}">
								<input type="submit" value="変更">
							</form>
						</td>
						<td>
							<form action="/deleteItem" method="get" th:object="${item}">
								<input type="hidden" name="itemid" th:value="${item.itemid}">
								<input type="submit" value="削除">
							</form>
						</td>
					</tr>
				</div>
			</table>
			<div th:unless="${item.stock == 0}">
				<div th:if="${user.authority==2}">
					<form action="/buyItem" method="get" th:object="${item}">
						<input type="hidden" name="itemid" th:value="${item.itemid}">
						購入数<input type="text" name="quantity">枚
						<input type="submit" value="購入">
					</form>
				</div>

				<div th:if="${user.authority==3}">
					<form action="/buyNormal" method="get" th:object="${item}">
						<input type="hidden" name="itemid" th:value="${item.itemid}">
						購入数<input type="text" name="quantity">枚
						<input type="submit" value="購入">
					</form>
				</div>
			</div>
			<div th:if="${item.stock == 0}">
				<a>Sold Out</a>
			</div>
		</div>
</body>
<footer th:insert="~{common/footer :: footer}"></footer>

</html>