<!--ユーザー一覧-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ユーザー一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<!-- ブラウザ全体 -->
	<div id="wrap">

		<!--ヘッダー部分  -->
		<header th:insert="~{common/header :: header}"></header>

		<div id="menu">
			<!-- ナビゲーション  -->
			<div id="nav">
				<a class="btn" href="/menu"><span>MENU</span><span>GO</span></a>
			</div>

			<!-- ページタイトル -->
			<div id="page_title">
				<h2>ユーザー一覧</h2>
			</div>
		</div>


		<h3 align="center">管理者</h3>
		<table border="1">
			<thead>
				<tr>
					<th>ユーザーID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>変更/削除</th>

				</tr>
			</thead>

			<tbody>
				<!-- DBから渡された userList を1件ずつ表示 -->
				<tr th:each="user : ${user}" th:if="${user.authority==1}">
					<td th:text="${user.userid}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td>
						<a th:href="@{/changeUserinfo(userid=${user.userid})}">変更</a>
						<a>/</a>
						<a th:href="@{/deleteUser(userid=${user.userid})}">削除</a>
					</td>
				</tr>
			</tbody>
		</table>

		<h3 align="center">会員</h3>
		<table border="1">
			<thead>
				<tr>
					<th>ユーザーID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>住所</th>
					<th>変更/削除</th>

				</tr>
			</thead>

			<tbody>
				<!-- DBから渡された userList を1件ずつ表示 -->
				<tr th:each="user : ${user}" th:if="${user.authority==2}">
					<td th:text="${user.userid}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.address}"></td>
					<td>
						<a th:href="@{/changeUserinfo(userid=${user.userid})}">変更</a>
						<a>/</a>
						<a th:href="@{/deleteUser(userid=${user.userid})}">削除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
<!-- フッター部分 -->
<footer th:insert="~{common/footer :: footer}"></footer>

</html>