<!--注文履歴画面-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>注文履歴</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ブラウザ全体 -->
	<div id="nomal">

		<!-- ヘッダー部分 -->
		<header th:insert="~{common/header :: header}"></header>

		<!-- メニュー部分 -->
		<div id="menu">
			<!-- ナビゲーション  -->
			<div id="nav">
				<a class="btn" href="/menu"><span>MENU</span><span>GO</span></a>
			</div>

			<!-- ページタイトル -->
			<div id="page_title">
				<h2>注文履歴</h2>
			</div>
		</div>

		<!-- ユーザー一覧のコンテンツ部分 -->
		<div id="main" class="container">

			<!-- 商品リスト -->
			<table class="itemlist-table" align="center">
				<thead>
					<tr>

						<th style="width:200px">商品名</th>
						<th style="width:150px">数量</th>
						<th style="width:150px">合計金額名</th>
						<th style="width:150px">注文日</th>
						<th style="width:150px">入金状況</th>
						<th style="width:150px">発送状況</th>
					</tr>
				</thead>
				<tbody th:if="${order_list.size() >= 1}">
					<tr th:each="order : ${order_list}">
						<td th:text="${order.item.itemname}"></td>
						<td th:text="${order.quantity} + '枚'"></td>
						<td th:text="'&yen; ' +${#numbers.formatInteger(order.total, 3, 'COMMA')}"></td>
						<td th:text="*{#dates.format(order.date, 'yyyy/MM/dd')}"></td>
						<td>
							<a th:if="${order.ispaid == 0}">入金待ち</a>
							<a th:if="${order.ispaid == 2}">入金済</a>
						</td>
						<td>
							<a th:if="${order.isshipped == 0}">未</a>
							<a th:if="${order.isshipped == 1}">発送準備中</a>
							<a th:if="${order.isshipped == 2}">発送済</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- フッター部分 -->
		<footer th:insert="~{common/footer :: footer}"></footer>
	</div>
</body>

</html>