<!--会員登録画面-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>会員登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">

		<!-- ヘッダー部分 -->
		<header th:insert="~{common/header :: header}"></header>

		<!-- メニュー部分 -->
		<div id="menu">
			<!-- ナビゲーション -->
			<div id="nav">
				<ul>
					<li><a href="/login">【ログイン】</a></li>
				</ul>
			</div>

			<!-- ページタイトル -->
			<div id="page_title">
				<h2>会員登録</h2>
			</div>
		</div>

		<!--会員登録部分 -->
		<div id="main" class="container">
			<p class="error-msg" th:if="${errorMessage} != null" th:text="${errorMessage}"></p>
			<p class="error-msg" th:if="${message} != null" th:text="${message}"></p>
			<form action="/signup" method="post" th:object="${checkUser}">
				<table>
					<tr>
						<th>名前</th>
						<td>
							<input type="text" name="name" th:value="*{name}">
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error-msg">
							</p>
						</td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>
							<input type="text" name="email" th:value="*{email}">
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error-msg">
							</p>
						</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>
							<input type="text" name="address" th:value="*{address}">
							<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="error-msg">
							</p>
						</td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td>
							<input type="password" name="password" th:value="*{password}">
							<p class="error-msg" th:if="${passwordError} != null" th:text="${passwordError}"></p>
						</td>
					</tr>
					<tr>
						<th>パスワード(確認用)</th>
						<td>
							<input type="password" name="confirmPassword" th:value="*{confirmPassword}">
							<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
								th:errorclass="error-msg">
							</p>
						</td>
					</tr>
				</table>
				<input type="hidden" name="authority" th:value="2">
				<input type="hidden" name="oldPassword" th:value="confirmPassword">
				<input type="submit" value="登録">
			</form>

		</div>

		<!-- フッター部分 -->
		<footer th:insert="~{common/footer :: footer}"></footer>
	</div>
</body>

</html>